<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="mrechenberg.smarttrashpickerapp">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission
            android:name="android.permission.ACCESS_FINE_LOCATION"/> <!-- We require BLE, so make BLE capability mandatory -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <!-- For export purposes, we require internet access.  We will make cleartext HTTP requests
        to servers within a private home network (e.g. 192.168.0.9/24), and we will
        configure this in network_security_config.xml -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature
            android:name="android.hardware.bluetooth_le"
            android:required="true"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:networkSecurityConfig="@xml/network_security_config"
            android:theme="@style/AppTheme">
        <activity android:name=".ExportTrashDataActivity">
        </activity>
        <activity android:name=".BLEConnActiveActivity">
        </activity>

        <service
                android:name=".STPBLEService"
                android:enabled="true"
                android:exported="true">
        </service>

        <activity android:name=".BLEPairingActivity">
        </activity>
        <activity
                android:name=".HomeActivity"
                android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>